body {
    background-image: url(images/main.jpg);
    background-attachment: fixed;
    color: black;
}

img.image{
    max-width: 100%;
    height: auto;
}

div.page-container{
    max-width: 75%;
    min-width: 960px;
    margin: 0 auto;
    padding: 0;
    background-color: #151719;
}

div.page-container-inner{
    min-width: 960px;
    max-width: 1980px;
    margin: 0 auto;
    padding: 0;
    background-color: #151719;
}
div.tableimg {
    width: 75%;
    height: 700px;
    min-height: 700px;
    max-height: 700px;
    background-size: contain;
    background-position: center;
}

s.texts{
    font-family: monospace;
    color: #e6e6fa;
    font-size: large;
}

h1.text1{
    font-family: monospace;
    color: #e6e6fa;
    font-size: xx-large;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
}

h3.text3 {

    font-family: monospace;
    color: #e6e6fa;
    font-size: x-large;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
}

h3.text31 {
    font-family: monospace;
    color: #e6e6fa;
    font-size: xx-large;
    font-weight: 900;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
}

h4.text4 {

    font-family: monospace;
    color: #e6e6fa;
    font-size: x-large;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;

}

h5.text5 {

    font-family: monospace;
    color: #e6e6fa;
    font-size: large;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;

}

a.text:active,
a.text {
    text-decoration: none;
    color: #e6e6fa;
}

p.textp {
    font-family: monospace;
    color: #e6e6fa;
    font-size: x-large;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
}