{% extends 'base.html' %}

{% block title %}
{{ article.title }}
{% endblock %}

{% block body %}

<div>
    <h1>{{ article.title }}</h1>

    <div class="alert alert-info">
        <h2>{{ article.title }}</h2>
        <p>{{ article.intro }}</p>
        <p>{{ article.text }}</p>
        <p><b>Дата публикации: {{ article.day.date() }}</b></p>
        <a href="/posts/{{ el.id }}/del" class="btn btn-danger">Удалить</a>
        <a href="/posts/{{ el.id }}/update" class="btn btn-success">Править</a>

    </div>

</div>

{% endblock %}
