{% extends 'base.html' %}

{% block title %}
    Progress
{% endblock %}

{% block body %}

    <h1 class="text1">Приветствую тебя и здесь, username. Тут я буду публиковать самые важные точки развития моего сайта.</h1>
    <h3 class="text3">К сожалению, многая информация о старте сайта канула в небытие. Приходится довольствоваться тем, что есть.</h3>
    <pre>
        <h3 class="text31">19.05.2020, с ~13:00 до ~20:00:</h3><h4 class="text4">Создан сайт. Созданы основные страницы. Придан более-менее читабельный и приятный глазу вид.</h4>
        <h3 class="text31">20.05.2020, с ~16:00 до 17:24:</h3><h4 class="text4">Создан раздел "Заметки о развитии, наполнен первыми заметками.</h4>

    </pre>
{% endblock %}