{% extends 'base.html' %}

{% block title %}
Главная
{% endblock %}

{% block body %}

<br><h4 class="text4">Данный сайт посвящен грядущему шестидесятилетию со дня первого запуска человека в космическое пространство.</h4>
<br><h3 class="text3">Этим человеком был <s>Альберт Эйнштейн</s> Юрий Гагарин.</h3>
<br><h4 class="text4">Первый полет человека в космическое пространство - удивительное и невероятно важное событие не только для страны,
которая первой осуществила запуск, но и для всего человечества прежде всего, ведь контролируемый запуск первого пилотируемого аппарата
с человеком на борту - настоящий прорыв в науке, что позволил проводить дальнейшие успешные запуски, улучшать системы,
уменьшать массу ракет-носителей, использовать более современные технологии.</h4>
<br><h4 class="text4">На данном сайте представлена базовая ознакомительная информация, которая поможет узнать о подвиге Ю.А.Гагарина чуть больше.</h4>
<br><h4 class="text4">На сайте представлены следующие разделы (кликабельно):
<ul>
    <li><a href="/bio" class="text">Биография Ю.А.Гагарина.</a></li>
    <li><a href="/st" class="text">Как мы шли к этому?</a></li>
    <li><a href="/galery" class="text">Галерея.</a></li>
    <li><a href="/about" class="text">Об авторе.</a></li>
</ul></h4>
{% endblock %}