{% extends 'base.html' %}


{% block title %}
Статьи
{% endblock %}


{% block body %}
<br><h3 class="text3">На данной странице предоставлены некоторые статьи (кликабельно):</h3>
<h4 class="text4"><ul>
    <li><a href="/1" class="text">Кто полетит Первым?</a></li>
    <li><a href="/2" class="text">Черный день на Байконуре.</a></li>
    <li><a href="/3" class="text">Труден путь к звездам...</a></li>
    <li><a href="/4" class="text">Чудесное спасение.</a></li>
</ul></h4>
<br><h3 class="text3">Все статьи взяты из открытых источников.</h3>
{% endblock %}